.hero {
  width: 100%;
  min-height: 60vh;
  background-size: cover;
  background-position: 50% 75%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #eee;
}

.hero h1 {
  font-size: 5em;
}

.hero h3 {
  background: hsla(250, 50%, 10%, 0.8);
  padding: 12px 6px;
  margin-bottom: 1.6em;
}

.heroBottom {
  text-align: center;
  margin-bottom: 20px;
  animation: floatUpAndDown 1s ease-in-out infinite alternate;
}

.content {
  padding: 100px 40px;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.button {
  display: inline-block;
  transform: translateY(0);

  margin: 0;
  padding: 6px 12px;
  outline: none;
  border: none;
  background: hsl(95, 50%, 60%);

  color: hsl(200, 50%, 20%);
  font-weight: bold;
  text-decoration: none;

  cursor: pointer;
  transition: all 200ms;
}

.button:hover {
  transform: translateY(-4px);

  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(0, 0, 0, 0.05) 10px,
    rgba(0, 0, 0, 0.05) 15px
  );

  animation: scrollBackground 500ms linear infinite;
}

.button:active {
  transform: translateY(2px);
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20px 0;
  }
}

@keyframes floatUpAndDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4px);
  }
}
