@import '../styles/variables';

.button {
  display: inline-block;
  transform: translateY(0);

  margin: 0;
  padding: 6px 12px;
  outline: none;
  border: none;
  background: $color-primary;

  color: $color-dark;
  font-weight: bold;
  text-decoration: none;

  cursor: pointer;
  transition: all 200ms;
}

.button:hover {
  transform: translateY(-4px);

  background-size: 85px 85px;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 30px,
    rgba(0, 0, 0, 0.05) 30px,
    rgba(0, 0, 0, 0.05) 60px
  );

  animation: scrollBackground 1s linear infinite;
}

.button:active {
  transform: translateY(2px);
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 85px 0;
  }
}
