@import '../styles/variables';

html,
body {
  background: $color-light;

  // This is overriding typography.js' color.
  // FIXME: I should probably configure it properly instead of overriding.
  color: lighten($color-dark, 10%);
}

.footer {
  background-color: darken($color-light, 6%);
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    rgba(0, 0, 0, 0.008) 10px,
    rgba(0, 0, 0, 0.008) 15px
  );

  color: $color-primary;

  span {
    color: transparent;
    background: lighten($color-primary, 15%);
  }
}
