@import '../styles/variables';

html,
body {
  background: $color-light;

  // This is overriding typography.js' color.
  // FIXME: I should probably configure it properly instead of overriding.
  color: lighten($color-dark, 10%);
}

.footer {
  background-color: darken($color-light, 6%);

  color: $color-primary;

  span {
    color: transparent;
    background: lighten($color-primary, 15%);
  }
}
